@import url(fonts.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.contact__us__main-wrapper {
    display: flex;
    column-gap: 88px;
    margin-bottom: 70px;
}

.contact__us {
    background: #091242;
    padding: 143px 0;
}

.contact__wrapper {
    display: flex;
}

.left__border {
    width: 4px;
    height: 23px;
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}

.contact__us-wrapper .contact__wrapper-subtitle {
    padding: 3px 9px;
    background: #E8E8E81A;
    gap: 10px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    margin-bottom: 13px;
}

.contact__us-wrapper h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 41.48px;
    color: #fff;
    margin-bottom: 3px;
}

.contact__us-wrapper p {
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.24px;
    color: #ffffff;
    margin-bottom: 32px;
}

.contact__us-form {
    padding-top: 42px;
}

.contact__us-email {
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin-bottom: 30px;
    cursor: pointer;
}

.contact__us-email span {
    color: #fff;
    font-family: 'Krub', sans-serif;
    font-size: 14px;
    line-height: 18.9px;
}

.username__email {
    display: flex;
    column-gap: 28px;
    margin-bottom: 31px;
    cursor: pointer;
}

.username__email input {
    padding: 21px 0 21px 30px;
    border: 1px solid #4E5683;
    background: #091242;
    color: #fff;
    font-family: 'LeagueSpartan';
}

.number__city {
    display: flex;
    column-gap: 28px;
    margin-bottom: 31px;
    background: #091242;
}

.number__city input {
    padding: 21px 0 21px 30px;
    border: 1px solid #4E5683;
    background: #091242;
    color: #fff;
    font-family: 'LeagueSpartan';
}

.number__city input:active {
    background: #091242;
}

.message {
    width: 100%;
    height: 154px;
    background: #091242;
    border: 1px solid #4E5683;
    background: #091242;
    color: #ffffff;
    margin-bottom: 30px;
    padding-left: 24px;
    font-family: 'LeagueSpartan';
}

.contact__us-btn {
    background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
    font-family: 'Krub', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    border: 1px solid transparent;
    text-align: left;
    color: #23212A;
    padding: 19px 34px;
    cursor: pointer;
    transition: 0.5s;
}

.contact__us-btn:hover {
    background: #041887;
    color: #FFDA56;
}

.contact__us-btn:active {
    transform: scale(0.96);
}