@import 'fonts.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'rubik';
  font-weight: 400;
}
::-webkit-scrollbar-track {border-radius: 5px;}

::-webkit-scrollbar {width: 3px;background: #000;}

::-webkit-scrollbar-thumb {border-radius: 4px;background: rgb(206, 206, 206);}
:root {
    --main-color: #091242;
    --bck-color: linear-gradient(121deg, #FFB629 0%, #FFDA56 50.72%, #FFD7A6 100%);
    --white: #FFFFFF;
    --text-back: #23212A;
    --text-gray: #666C89;
    --text-blue: #1C1F35;
    --text-yellow: #FFB629;
    --text-yellowend: #FFBE34;
    --star: #FDAF3B;
}
/* container */
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* wrapp */
.wrapp{
  width: 100%;
  min-height: 100vh;
  background: var(--white);
  /* overflow: hidden; */
}
.banner{
  background: var(--main-color);
  height: 160px;
  display: flex;
  align-items: center;
}
.banner__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__content-list{
  display: flex;
}
.banner-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 17px;
  width: 256px;
  height: 63px;
}
.banner-list img{
  width: 63px;
}
.banner-list p{
  width: 156px;
}
.banner-list p,.banner-list a{
  color: var(--white);
  font-family: 'krub';
  font-size: 14px;
  font-weight: 500;
  line-height: 135.023%; /* 18.903px */
}
.logo{
  width: 210px;
  height: 36px;
}
.navbar{
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  background: rgba(9, 18, 66, 0.25);;
  z-index: 30;
}
.navbar__content{
  display: flex;
  justify-content: space-between;
}
.navbar__content-list{
  display: flex;
}
.navbar__content-list li:first-child{
  padding-left: 0;
}
.navbar__content-list li{
  padding: 30px;

  position: relative;
}
.navbar__content-list li:first-child::before{
  content: '';
  position: absolute;
  bottom: 0;
  width: 43px;
  height: 2px;
  background: var(--white);
}
.navbar__content-list li::after{
  content: '';
  position: absolute;
  right: 0;
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.20);
}
.navbar__content-list li a{
  color: var(--white);
  font-family: 'krub';
  font-size: 16px;
  font-weight: 600;
  line-height: 135.023%;
}
.navbar__content-icons{
  display: flex;
  align-items: center;
  column-gap: 25px;
}
.navbar-btn{
  color: #23212A;
  text-align: center;
  font-family: 'krub';
  font-size: 16px;
  font-weight: 600;
  line-height: 135.023%;
  border: none;
  outline: none;
  padding: 0 52px;
  height: 100%;
  margin-left: 25px;
  background: var(--white);
  cursor: pointer;
}
.hero{
  background: url(../images/bg.png) no-repeat center center / cover;
  height: 875px;
  margin-top: -80px;
}
.hero__content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__content-title h1{
  width: 554px;
  color: var(--white);
  font-size: 60px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hero__content-title p:last-of-type{
  width: 571px;
  color: var(--white);
  font-family: 'krub';
  font-size: 16px;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
}
.hero__content-title--top,.teg_p{
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  background: rgba(4, 28, 55, 0.50);
  padding: 3px 9px;
  width: 245px;
  position: relative;
}
.hero__content-title--top::before,.teg_p::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: var(--bck-color);
}
.hero__content-title button,.btn{
  width: 194px;
  height: 60px;
  color: var(--text-back);
  font-family: 'krub';
  font-size: 16px;
  font-weight: 600;
  line-height: 135.023%;
  outline: none;
  border: none;
  background: var(--bck-color);
  margin-top: 24px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.hero__content-title button::before,.btn::before{
  position: absolute;
  top: 25px;
  right: -45px;
  content: '';
  width: 80px;
  height: 100px;
  background: var(--white);
  border-radius: 55px;
}
.section__content-one {
  height: 500px;
  margin-top: 100px;
}
.section__content-imag {
 border-right: 1px solid rgba(216, 216, 216, 1);
 padding-right: 16px;
 height: 105px;
 margin-bottom: 70PX;
}
.section__content-lood{
  display: flex;
  column-gap: 17px;
}
.section__content-letter {
  display: flex;
  height: 90px;
  justify-content: space-between;
}
.section__container-mix {
  display: flex;
  flex-wrap: wrap;
}
.section__container span {
  width: 76px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #f4f4f4;
  background-color: #f4f4f4;
  padding: 3px 7px 3px 9px;
  border-left: 4px solid var(--text-yellow);
  line-height: 16px;
}
.section__container h2 {
  width: 294px;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  margin-top: 15px;
  color: #1C1F35;
}
.section__content-servis {
  border-right: 1px solid rgba(216, 216, 216, 1);
  padding-right: 16px;
}
.section__content-icons {
  display: flex;
  column-gap: 17px;
  margin-left: 79px;
  height: 105px;
}
.section__content-icon {
  width: 260px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'krub';
}
.section__content-icon h4 {
  width: 264px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 13px;
}
.section__content-header {
  width: 277px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}
.section__content-par {
  width: 270px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'krub';
}
.section__content-par h4 {
  width: 270px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 13px;
}
.section__content-two {
  display: flex;
  align-items: center;
  column-gap: 76px;
}
.section__container-fool {
  display: flex;
  align-items: center;
}
.section__container-local {
  display: flex;
  align-items: center;
}
.section__content-images-2 {
  border-right: 1px solid rgba(216, 216, 216, 1) ;
  padding-right: 26px;
}
.section__content-par-2 {
  margin-left: 17px;
}
.section__content-par-2 h4 {
  width: 214px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 13px;
}
.section__container-local-images {
  border-right: 1px solid rgba(216, 216, 216, 1);
  padding-right: 20px;
}
.section__container-lokal-par {
  margin-left: 17px;
}
.section__container-lokal-par h4 {
  width: 280px;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 13px;
}
.about__content {
  background-image: url(../images/bgcontainers.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  width: 100%;
  height: 504px;
  margin-bottom: 735px;
}
.abaute__content-global {
  width: 1150px;
  height: 502px;
  background-color: #fff;
  position: absolute;
  margin-top: 366px;
  padding: 85px 90px;
  background-image: url(../images/airplay.png);
  background-repeat: no-repeat;
  background-position: 600px;
  background-position-y: 90px;
}
.abaute__contaent-one span {
  width: 68px;
  border-left: 4px solid var(--text-yellow);
  padding: 3px 8px;
  background-color: #f4f4f4;
  color: #111;
}
.abaute__contaent-one h2 {
  width: 427px;
  font-weight: 600;
  font-size: 35px;
  line-height: 41px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.abaute__contaent-one p {
  width: 464px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: 'krub';
  color: #666C89;
  margin-bottom: 25px;
}
.abaute__content-images {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.abaute__content-images h3 {
  width: 192px;
  font-weight: 400;
  font-size: 25px;
  list-style: 29px;
  color:#1C1F35;
  margin-left: 15px;
}
.abaute__content-image-2 {
  display: flex;
  margin-bottom: 22px;
}
.abaute__content-image-2 h3 {
  width: 252px;
  font-weight: 400;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 25px;
  list-style: 29px;
  color:#1C1F35;
}
.abaut__con-tent{
  width: 340px;
  height: 253px;
  background-color: #fff;
  margin-top: -130px;
  margin-left: 50px;
}
.abaute__contaent-one-img {
  margin-top: 31px;
  margin-left: 33px;
  transition: all 0.5s;
}
.abaute__contaent-one-img:hover {
  cursor: cell;
  transform: scale(1.1);
}
.abaute__footer {
  width: 970px;
  display: flex;
}
.abaute__width {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  border: 1px solid #d3d3d3;
  padding: 46px 0;
  width: 505px;
  border-left: none;   
  border-right: none;
}
.kubig {
  width: 17px;
  height: 17px;
  background-color: #F2CA4C;
}
.abaute__width h2 {
  width: 120px;
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;
  color:#1C1F35;
}
.abaute__height {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  border: 1px solid #d3d3d3;
  padding: 46px 0;
  width: 505px;
  border-right: none;
}
.abaute__height h2 {
  width: 120px;
  font-weight: 600;
  font-size: 50px;
  line-height: 59px;
  color:#1C1F35;
}
.transport__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transport__content h3{
  color: var(--text-blue);
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 35px;
}
.transport__content-list{
  display: flex;
  column-gap: 18px;
}
.transport-card{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 320.166px;
  height: 407.915px;
  position: relative;
}
.transport-card img{
  width: 320.166px;
  height: 407.915px;
  position: absolute;
  top: 0;
  left: 0;
}
.transport-card p{
  position: absolute;
  left: 25px;
  bottom: 48px;
  z-index: 2;
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
}
.transport-card span{
  position: absolute;
  z-index: 2;
  left: 25px;
  bottom: 20px;
  color: var(--text-yellow);
  font-family: 'krub';
  font-size: 16px;
  font-weight: 500;
  line-height: 151.523%;
}
.transport__content button{
  background: var(--main-color);
  color: var(--white);
  font-family: 'krub';
  font-size: 16px;
  font-weight: 600;
  line-height: 135.023%;
}
.transport__content button::before{
  background: #1f2a69;
}
.transpot__content-linerEnd{
  margin: 0 auto;
  /* max-width: 1920px; */
  width: 100%;
  height: 400px;
  margin-top: -200px;
  margin-bottom: 100px;
  background: linear-gradient(121deg, #FFB629 0%, #FFDA56 50.72%, #FFD7A6 100%);;
}
.customer__content{
  margin-bottom: 100px;
}
.customer__content-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customer__content-title h3{
  color: var(--text-blue);
  font-size: 35px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 40px;
}
.customer_content-block{
  display: flex;
}
.customer-block--1,.customer-block--2{
  width: 600px;
  height: 425px;
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.customer-block--2{
  background: var(--main-color);
}
.customer-user{
  display: flex;
  align-items: center;
  width: 455.85px;

}
.customer-user img{
  width: 91px;
  height: 91px;
}

.customer-block--1 p,.customer-block--2 p{
  color: var(--text-gray);
  font-family: 'krub';
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 151.523%;
  width: 456px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.customer-block--2 p{
  color: var(--white);
}
.customer-user--title{
  margin-left: 9px;
  margin-right: 134px;
}
.customer-block--1 .customer-user p,.customer-block--2 .customer-user p{
  color: var(--main-color) !important;
  font-family: 'rubik';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 148px;
  margin: 0;
}
.customer-block--1 .customer-user span,.customer-block--2 .customer-user span{
  color: var(--main-color) !important;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
}
.customer-block--2 .customer-user p,.customer-block--2 .customer-user span{
  color: var(--white) !important;
}
.oppor__content{
  max-width: 1920px;
  display: flex;
}
.oppor__content-left{
  width: 960px;
  height: 897px;
  background: var(--main-color);
  position: relative;
}
.oppor__content-left img:first-of-type{
  position: absolute;
  z-index: 1; 
  top: 142px;
  left: 140px;
}
.oppor__content-left img:last-of-type{
  position: absolute;
  top: 613px;
  left: 360px;
  z-index: 2;
}
.oppor__content-right{
  width: 960px;
  height: 897px;
  background: #f4f4f4;
  padding-top: 81px;
  padding-left: 75px;
  position: relative;
}
.oppor__content-title{
  position: absolute;
  top: 200px;
  left: 162px;
}
.oppor__content-title h3{
  width: 438px;
  color: var(--text-blue);
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 18px;
}
.oppor__content-title span{
  display: block;
  width: 486px;
  color: #666C89;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%; /* 24.244px */
  margin-bottom: 61px;
}
.oppor-title--cards{
  display: flex;
  column-gap: 72px;
}
.oppor-card{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.oppor-card p{
  display: flex;
  align-items: center;
  column-gap: 12px;
  color: var(--text-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.expert__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 101px;
}
.expert__content h3{
  color: #1C1F35;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 26px;
}
.expert__content-cards{
  display: flex;
  column-gap: 54px;
}
.contact__us__main-wrapper {
  display: flex;
  column-gap: 88px;
  margin-bottom: 70px;
}
.contact__us {
  background: #091242;
  padding: 143px 0;
}
.contact__wrapper {
  display: flex;
}
.left__border {
  width: 4px;
  height: 23px;
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
}
.contact__us-wrapper .contact__wrapper-subtitle {
  padding: 3px 9px;
  background: #E8E8E81A;
  gap: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  margin-bottom: 13px;
}
.contact__us-wrapper h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 41.48px;
  color: #fff;
  margin-bottom: 3px;
}
.contact__us-wrapper p {
  font-family: 'krub';
  font-size: 16px;
  font-weight: 500;
  line-height: 24.24px;
  color: #ffffff;
  margin-bottom: 32px;
  width: 353px;
}
.contact__us-form {
  padding-top: 42px;
  width: 100%;
}
.contact__us-email {
  display: flex;
  align-items: center;
  column-gap: 14px;
  margin-bottom: 30px;
  cursor: pointer;
}
.contact__us-email span {
  color: #fff;
  font-family: 'krub';
  font-size: 14px;
  line-height: 18.9px;
}
.username__email {
  display: flex;
  column-gap: 28px;
  margin-bottom: 31px;
  cursor: pointer;
  width: 100%;
}
.username__email input {
  padding: 21px 0 21px 30px;
  border: 1px solid #4E5683;
  background: #091242;
  color: #fff;
  font-family: 'LeagueSpartan';
  width: 365px;
  height: 60px;
}
.number__city {
  display: flex;
  column-gap: 28px;
  margin-bottom: 31px;
  background: #091242;
  width: 100%;
}
.number__city input {
  padding: 21px 0 21px 30px;
  border: 1px solid #4E5683;
  background: #091242;
  color: #fff;
  font-family: 'LeagueSpartan';
  width: 365px;
  height: 60px;
}
.number__city input:active {
  background: #091242;
}
.message {
  width: 100%;
  height: 154px;
  background: #091242;
  border: 1px solid #4E5683;
  background: #091242;
  color: #ffffff;
  margin-bottom: 30px;
  padding-left: 24px;
  font-family: 'LeagueSpartan';
}
.contact__us-btn {
  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  border: 1px solid transparent;
  text-align: left;
  color: #23212A;
  padding: 19px 34px;
  cursor: pointer;
  transition: 0.5s;
}
.contact__us-btn:hover {
  background: #041887;
  color: #FFDA56;
}
.contact__us-btn:active {
  transform: scale(0.96);
}

.news{
  background-color:#fff;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 90px;
}
.news__latest-our{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news__latest-our span{
  color: #1C1F35;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 10px;
  align-items: center;
  gap: 10px;
  background: rgba(232, 232, 232, 0.50);
}
.news__latest{
  gap: 13px; 
}
.news__latest-title{
  color: #1C1F35;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;  
  margin-bottom:39px; 
  margin-top: 10px;
}
.news__latest-photos{
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding-top: 29px;
  padding-bottom: 35px;
  border: 1px solid #D6D6D6; ;
  padding: 20px;
  border-left: none;
  border-right: none;
}
  .news__latest-photos-text h3{
    width: 348px;
    color: #1C1F35;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left:  29px;
  }
.news__latest-photos-text p{
  width: 335px;
  color: #666C89;
  font-family:'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
  padding-top: 16px;
  padding-left:29px ;
}
.news__latest-photo-text-ul{
  width: 335px;
  color: #1C1F35;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.523%;
  padding-top:18px;
  padding-left:29px ;
}
.news__latest-photos-line{
  width: 1px;
  height: 308px;
  background: #D6D6D6;
}
.photos-blok,
.photos-blok-black--2{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 35px;
  padding-top: 29px;
  position: relative;
}
.photos-blok-black--2{
    position: absolute;
    left: 50px;
    z-index: 4;
}
.news__latest-button{
  color: #FFF;
  font-family:'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  background-image: url(../images/Background.png);
  padding: 19px 59px;
  background-position: center;
  margin-top: 39px;
  margin-left: 377px;
  margin-bottom: 90px;
}
.shipes{
  background-color:#091242;   
  overflow: hidden;
}
.shipes__transitflow{
  display: flex; 
  column-gap: 63px;   
}
.shipes__transitflow-color{
  width: 312px;
  height: 118px;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.08); 
  margin-top:-5px;   
}
.shipes__transitflow-img{
   margin-top: 43px; 
   margin-bottom: 43px;  
}
.shipes__transitflow-img-email{
  display: flex; 
  gap: 14px;
}
.shipes__transitflow-img-email span{
  color: #FFF;
  font-family: 'krub';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.023%;
  padding-top: 11px;
}
.shipes__transitflow-img-call{
  display: flex; 
  gap: 14px;  
  margin-top: 30px; 
}
  .shipes__transitflow-img-call{
  color: #FFF;
  font-family: 'krub';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 135.023%;
  padding-top: 11px;
}
.shipes__transitflow-big-title{
  display: flex;
  width:1181px;
  background-color:rgba(255, 255, 255, 0.08);
  color: #FFF;
  margin-top: -5px ;
}
.shipes__transitflow-img p{
  width: 319px;
  color: #E8E8E8;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 151.523%;
  padding-top:77px;
  padding-bottom:33px;
}
.shipes__transitflow-big-title h5{
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 44px;
  padding-left:54px ;
  right: 553px;
  padding-bottom:44px;
}
.shipes__transitflow-big-title{
  gap:152px;    
}
.shipes__transitflow-big-box-ul{
  padding-left: 54px;
}
.shipes__transitflow-big-box-ul-item{
  color: #FFF;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%;
  list-style: none;
}
.shipes__transitflow-big-box{
  display: flex;  
  padding-top:74px;  
  gap: 230px;
}
.shipes__transitflow-big-box input{
  width: 317px;
  border: 1px solid #4E5683;  
  padding-top: 21px; 
  padding-bottom: 21px;
  padding-left: 40px;
  padding-right:192px;
}
.photos-blok-black--3{
  z-index: 5;
  left: -50px;
}
.h3-yellow{
  color: #FFBE34 !important;
}
.footer-blog{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 20px;
}
.footer-blog-sayt{
  display: flex;
  gap:27px; 
  padding-left: 35px;
}
.footer-blog-button{
  color: #23212A;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
  background: linear-gradient(127deg, #FFB629 0%, #FFDA56 50.72%, #FFD7A6 100%);
  padding:19px 36px;
} 
.power{
  background-color: #091242;
}
.power__werbflow h5{
  color: #FFF;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 250%  
}
.power__werbflow{
  display: flex;
  justify-content: space-evenly;
  border:1px solid #4E5683;
  border-left:none;
  border-right:none;
  border-bottom: none;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left:90px ;
}
.power__werbflow-blog{
  display: flex;
}
.power__werbflow span{
  color: #8388A7;
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 250%;
  word-spacing: 20px;
}
.photos-blok-black--3{
  position: absolute;
  left: 190px;
  color: var(--white);
  font-family: 'krub';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 135.023%;
}


@media (max-width: 992px){
}
@media (max-width: 768px){
}
@media (max-width: 576px){
}
@media (max-width: 480px){
}